/* Place custom css here. */
:root {
  --wide: 120rem; /* default 140 */
  --narrow: 120rem; /* default 80 */
  --padding-top: 8rem;

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  /* color-board */
  --button-back-color: #474559;
  --button-hover-color: #ffc200;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "unicons";
}
body {
  padding-top: var(--padding-top);
}

ul li {
  list-style: none;
}

a {
  font-weight: normal;
  text-decoration: none !important;
  transition: all 0.4s ease;
}

a:hover {
  color: #ffc200 !important;
}

.uil-twitter:hover {
  color: #ffc200 !important;
}

.uil-github:hover {
  color: #ffc200 !important;
}

.uil-instagram:hover {
  color: #ffc200 !important;
}

/* header */
.menu a {
  /* display: flex; */
  /* overflow: auto; */
  font-size: 2.4rem;
}

/* 메인페이지는 default block*/
/* .main {
  display: block;
} */

/* contact page*/
.main .contact {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: space-between;
}

.main .contact .row {
  width: 100%;
}

/* 구글맵 하단 margin이 존재해서 조정 */
.google-map iframe {
  width: 100%;
  border-radius: 3px 3px 0 0;
  margin-bottom: -6px;
}

.main .contact .row .contact-info {
  /* margin-top: 1rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;

  background: var(--button-back-color);
  border-radius: 0 0 3px 3px;
}

/* Text on the Color board is white!!! */
.main .contact .row .contact-info .contact-info-item h3 {
  color: #f7f3f3;
  margin-top: 5px;
  margin-bottom: 5px;
}

.main .contact .row .contact-info p,
.main .contact .row .contact-info a {
  color: #f7f3f3;
}

.main .contact .row .contact-info .social-links li {
  list-style: none;
  width: 4rem;
  height: 4rem;
  margin: 15px 0;
}

.main .contact .vertical {
  border-right: 1px solid var(--fog);
  padding-left: var(--gap);
  margin-right: var(--gap);
}

.main .contact .contact-form {
  width: 100%;
}

/* post-comments */
.utterances {
  max-width: var(--narrow);
}

/* 576 보다 작으면 column 으로 변경 var(--breakpoint-sm) */
/* @media (max-width: 575px) {
  .contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: space-around;
  }
} */

@media (max-width: 768px) {
  .main .contact {
    display: flex;
    flex-direction: column;
    /* flex-wrap: nowrap;
      
        justify-content: space-between; */
  }
}

/* 1200 미만일 경우, padding-top을 0으로 조정 (var(--breakpoint-xl)-1)*/
@media (max-width: 1199px) {
  body {
    padding-top: 0;
  }
}

/* 1200 이상일 경우, font 사이즈 변경 var(--breakpoint-xl)*/
@media (min-width: 1200px) {
  html {
    font-size: 8px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    /* letter-spacing: -1px; */
  }

  h1 {
    color: #212121;
    font-size: 2.8em;
  }

  h2 {
    /* color: #353535; */
    font-size: 2.4em;
    font-weight: bold;
  }

  h3 {
    font-size: 2em;
    color: #484848;
  }

  h3,
  b,
  strong {
    font-weight: bold;
  }
}

/* post content */
.post-content figure {
  padding: 0;
  margin: 0;
}
