<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="/assets/css/unicons.css" />
<link rel="stylesheet" href="/assets/css/owl.carousel.min.css" />
<link rel="stylesheet" href="/assets/css/owl.theme.default.min.css" />

<!-- MAIN STYLE -->
<link rel="stylesheet" href="/assets/css/tooplate-style.css" />

<!-- CONTACT -->
<section class="contact py-5" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mr-lg-5 col-12">
        <!-- map -->
        <div class="google-map w-100">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12088.558402180099!2d-73.99373482142036!3d40.75895421922642!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25855b8fb3083%3A0xa0f9aef176042a5c!2sTheater+District%2C+New+York%2C+NY%2C+USA!5e0!3m2!1sen!2smm!4v1549875377188"
            width="400"
            height="300"
            frameborder="0"
            style="border: 0"
            allowfullscreen
          ></iframe>
        </div>
        <!-- adddress -->
        <div
          class="
            contact-info
            d-flex
            justify-content-between
            align-items-center
            py-4
            px-lg-5
          "
        >
          <div class="contact-info-item">
            <h3 class="mb-3 text-white">Say hello</h3>
            <p class="footer-text mb-0">010 020 0960</p>
            <p><a href="mailto:hello@company.co">hello@company.co</a></p>
          </div>

          <ul class="social-links">
            <li>
              <a
                href="#"
                class="uil uil-dribbble"
                data-toggle="tooltip"
                data-placement="left"
                title="Dribbble"
              ></a>
            </li>
            <li>
              <a
                href="#"
                class="uil uil-instagram"
                data-toggle="tooltip"
                data-placement="left"
                title="Instagram"
              ></a>
            </li>
            <li>
              <a
                href="#"
                class="uil uil-youtube"
                data-toggle="tooltip"
                data-placement="left"
                title="Youtube"
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- contact sender -->
      <div class="col-lg-6 col-12">
        <div class="contact-form">
          <h2 class="mb-4">Interested to work together? Let's talk</h2>

          <form
            name="contact"
            action="https://formspree.io/f/mzbyndwo"
            method="POST"
          >
            <div class="row">
              <div class="col-lg-6 col-12">
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  placeholder="Your Name"
                  id="name"
                />
              </div>

              <div class="col-lg-6 col-12">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  placeholder="Email"
                  id="email"
                />
              </div>

              <div class="col-12">
                <textarea
                  name="message"
                  rows="6"
                  class="form-control"
                  id="message"
                  placeholder="Message"
                ></textarea>
              </div>

              <div class="ml-lg-auto col-lg-5 col-12">
                <input
                  type="submit"
                  class="form-control submit-btn"
                  value="send message"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  .custom-btn {
    background: #eee;
    color: #5b5b5b;
    font-weight: bold;
    border-radius: 50px;
    padding: 13px 29px;
    font-size: 14px;
    line-height: normal;
    overflow: hidden;
    transition: all 0.4s ease;
  }
  .custom-btn:hover {
    color: #ffc200;
  }
  .custom-btn.custom-btn-bg {
    background: #474559;
    color: #ffffff;
  }
  .custom-btn.custom-btn-bg:hover {
    background: #ffc200;
    color: #ffffff !important;
  }

  .animated {
    position: relative;
  }

  .animated-info {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    min-width: 260px;
    position: relative;
  }

  .animated-item {
    color: #ffc200;
  }

  .animated-item {
    font-size: 38px;
    line-height: inherit;
    display: block;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    animation: BottomTotop 6s linear infinite 0s;
  }
  .animated-item:nth-child(2n + 2) {
    animation-delay: 2s;
  }
  .animated-item:nth-child(3n + 3) {
    animation-delay: 4s;
  }

  .google-map iframe {
    width: 100%;
  }

  .contact-form {
    position: relative;
  }

  .contact-form .form-control {
    background: transparent;
    border-radius: 5px;
    /* set border */
    outline: solid thin #6c757d;
    box-shadow: none;
    font-weight: bold;
    margin: 1.8rem 0; /* line-height: 1.8; */
    /* padding: var(--gap); */
    padding-left: var(--gap);
    padding-right: var(--gap);
    width: 100%;

    color: var(--pro);
    background: var(--white);
    transition: background 0.4s ease-out;
  }

  .contact-form .form-control:not(textarea) {
    height: 48px;
  }

  #message {
    padding-top: 16px;
  }

  .contact-form .form-control:hover,
  .contact-form .form-control:focus {
    border-color: #ffc200;
  }
  .contact-form .submit-btn {
    background: #ffc200;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .contact-form .submit-btn:hover {
    background: #474559;
  }

  .contact-info {
    background: #474559;
    border-radius: 0 0 3px 3px;
    position: relative;
    bottom: 8px;
  }
  .contact-info p,
  .contact-info a {
    color: #f7f3f3;
  }

  .social-links .uil {
    color: #f7f3f3;
    font-size: 20px;
    display: block;
    margin: 5px 0;
  }
  .social-links .uil:hover {
    color: #ffc200;
  }
</style>
