<form name="contact" action="https://formspree.io/f/mzbyndwo" method="POST">
  <input type="hidden" name="form-name" value="contact" />
  <!-- Text input-->
  <div class="form-group">
    <label class="control-label" for="Name"></label>
    <input
      id="contact-form-name"
      name="Name"
      type="text"
      placeholder="Name"
      class="form-control input-md"
      required=""
      autocomplete="off"
    />
  </div>
  <hr />
  <!-- Text input-->
  <div class="form-group">
    <label class="control-label" for="Email"></label>
    <input
      id="contact-form-email"
      name="Email"
      type="email"
      placeholder="Email Address"
      class="form-control input-md"
      required=""
      autocomplete="off"
    />
  </div>
  <hr />
  <!-- Text input-->
  <div class="form-group">
    <label class="control-label" for="Subject"></label>
    <input
      id="contact-form-subject"
      name="Subject"
      type="text"
      placeholder="Subject"
      class="form-control input-md"
      required=""
      autocomplete="off"
    />
  </div>
  <hr />
  <!-- Textarea -->
  <div class="form-group">
    <label class="control-label" for=""></label>
    <textarea
      class="form-control"
      id="contact-form-message"
      name="Message"
      placeholder="What's up?"
      rows="8"
    ></textarea>
  </div>
  <hr />
  <!-- Button -->
  <div class="form-group">
    <button type="submit" value="Submit" id="Form-submit">Submit</button>
  </div>
</form>

<style>
  hr {
    margin: 0px;
  }
  p:first-child:before {
    display: none;
  }
  p:before {
    /* content: " "; */
    /* border: 1px solid black; */
    /* margin-top: 15px;
    margin-bottom: 15px; */
    display: block;
  }
</style>
