<!-- CONTACT -->
<div class="contact">
  <div class="row">
    <!-- map -->
    <div class="google-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12088.558402180099!2d-73.99373482142036!3d40.75895421922642!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25855b8fb3083%3A0xa0f9aef176042a5c!2sTheater+District%2C+New+York%2C+NY%2C+USA!5e0!3m2!1sen!2smm!4v1549875377188"
        width="400"
        height="300"
        frameborder="0"
        style="border: 0"
        allowfullscreen
      ></iframe>
    </div>
    <!-- adddress -->
    <div class="contact-info">
      <div class="contact-info-item">
        <h3>CONTACT</h3>
        <p>📮 경기 시흥시 능곡중앙로 120-1 우남퍼스트빌2차 상가동 103호</p>
        <p>📫 14994</p>
        <p class="footer-text">📞 031 313 8207</p>
        <p>📧 <a href="mailto:zieum21@gmail.com">zieum21@gmail.com</a></p>
      </div>
      <ul class="social-links">
        <li>
          <a
            href="https://twitter.com/devironpot"
            class="uil-twitter"
            data-toggle="tooltip"
            data-placement="left"
            title="twitter"
            ><img src="/images/icons/twitter.svg"
          /></a>
        </li>
        <li>
          <a
            href="https://github.com/dev-ironpot"
            class="uil-github"
            data-toggle="tooltip"
            data-placement="left"
            title="Github"
            ><img src="/images/icons/github.svg"
          /></a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/dev.ironpot/"
            class="uil-instagram"
            data-toggle="tooltip"
            data-placement="left"
            title="Instagram"
            ><img src="/images/icons/instagram.svg"
          /></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="vertical"></div>
  <!-- contact form -->
  <div class="contact-form">
    <h2 class="mb-4">Interested to work together? Let's talk</h2>
    <form name="contact" action="https://formspree.io/f/mzbyndwo" method="POST">
      <div class="row">
        <div class="col-lg-6 col-12">
          <input
            type="text"
            class="form-control"
            name="Name"
            placeholder="Your Name"
            id="name"
          />
        </div>

        <div class="col-lg-6 col-12">
          <input
            type="email"
            class="form-control"
            name="Email"
            placeholder="Email"
            id="email"
          />
        </div>

        <div class="col-12">
          <textarea
            name="Message"
            rows="6"
            class="form-control"
            id="message"
            placeholder="Message"
          ></textarea>
        </div>

        <div class="ml-lg-auto col-lg-5 col-12">
          <input type="submit" class="form-control submit-btn" value={{i18n
          "submit"}} id="submit" />
        </div>
      </div>
    </form>
  </div>

  <style>
    /* .contact .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-content: center;
  } */

    /* .uil::before {
      content: "\f054";
      font-family: "unicons";
      font-weight: 900;
    } */

    /* .google-map iframe {
      width: 100%;
    } */

    .contact-form {
      position: relative;
    }

    .contact-form .form-control {
      background: transparent;
      border-radius: 5px;
      /* set border */
      outline: solid thin #6c757d;
      box-shadow: none;
      font-weight: bold;
      margin: 1.8rem 0; /* line-height: 1.8; */
      /* padding: var(--gap); */
      padding-left: var(--gap);
      padding-right: var(--gap);
      width: 100%;

      color: var(--pro);
      background: var(--white);
      transition: background 0.4s ease-out;
    }

    .contact-form .form-control:not(textarea) {
      height: 48px;
    }

    #message {
      padding-top: 16px;
    }

    .contact-form .form-control:hover,
    .contact-form .form-control:focus {
      border-color: #ffc200;
    }
    .contact-form .submit-btn {
      background: var(--button-back-color);
      border-radius: 5px;
      color: #ffffff;
      font-weight: bold;
      outline: none;
      cursor: pointer;
      transition: all 0.4s ease;
    }
    .contact-form .submit-btn:hover {
      background: var(--button-hover-color);
    }
  </style>
</div>
